# EX6-STRUCT: SparkSQL basics

Your assignment: complete the `TODO`'s and include also the **output of each cell**.

#### You may need to read the [Dataframe API Documentation](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/dataframe.html) to complete this lab.

### Step 1: Download Bike Trip Data (GDrive)

In [2]:
import os
import gdown

# stations data
if not os.path.isfile('data/station-data.json'):
    id = "134kLURYaTZuj6SWrg1XvkQKQ30bf1X7I"
    gdown.download(id=id, output="data/")
    print("Stations data downloaded")
else:
    print("Stations data already downloaded")

# trips data
if not os.path.isfile('data/trip-data.json'):
    id = "1pX3WHi3R2n52zyo6swXxlOtVTgt_hOQG"top30_rides = trips_df.orderBy(col("duration").desc()).limit(30)

top30_with_coords = top30_rides.join(
    stations_df,
    top30_rides["start_station_name"] == stations_df["name"],
    how="left"
).select(
    top30_rides["start_station_name"].alias("station"),
    stations_df["latitude"].alias("lat"),
    stations_df["longitude"].alias("long"),
    top30_rides["duration"].alias("ride_duration")
)

top30_with_coords.show(30, truncate=False)
    gdown.download(id=id, output="data/")
    print("Trips data downloaded")
else:
    print("Trips data already downloaded")

SyntaxError: invalid syntax (3507536760.py, line 14)

### Step 2: Start Spark Session

In [3]:
from pyspark.sql import SparkSession

try:
    spark.stop()
except NameError:
    print("SparkContext not defined")

# local mode
spark = SparkSession.builder \
            .appName("Spark SQL basic example") \
            .master("local[*]") \
	    	.config("spark.some.config.option", "some-value") \
	    	.getOrCreate()

# cluster mode
#spark = SparkSession.builder \
#            .appName("Spark SQL basic example") \
#            .master("spark://spark:7077") \
#	    	.config("spark.some.config.option", "some-value") \
#	    	.getOrCreate()

SparkContext not defined

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/08 00:48:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Step 3: Read JSON files as dataframes

In [4]:
stations_df = spark.read.json('data/station-data.json')
stations_df.show()

+---------+------------+------------+---------+-----------+--------------------+----------+
|dockcount|installation|    landmark|      lat|       long|                name|station_id|
+---------+------------+------------+---------+-----------+--------------------+----------+
|       27|  2013-08-06|    San Jose|37.329732|-121.901782|San Jose Diridon ...|         2|
|       15|  2013-08-05|    San Jose|37.330698|-121.888979|San Jose Civic Ce...|         3|
|       11|  2013-08-06|    San Jose|37.333988|-121.894902|Santa Clara at Al...|         4|
|       19|  2013-08-05|    San Jose|37.331415|  -121.8932|    Adobe on Almaden|         5|
|       15|  2013-08-07|    San Jose|37.336721|-121.894074|    San Pedro Square|         6|
|       15|  2013-08-07|    San Jose|37.333798|-121.886943|Paseo de San Antonio|         7|
|       15|  2013-08-05|    San Jose|37.330165|-121.885831| San Salvador at 1st|         8|
|       15|  2013-08-05|    San Jose|37.348742|-121.894715|           Japantown|         9|
|       15|  2013-08-06|    San Jose|37.337391|-121.886995|  San Jose City Hall|        10|
|       19|  2013-08-06|    San Jose|37.335885| -121.88566|         MLK Library|        11|
|       19|  2013-08-07|    San Jose|37.332808|-121.883891|SJSU 4th at San C...|        12|
|       15|  2013-08-06|    San Jose|37.339301|-121.889937|       St James Park|        13|
|       19|  2013-08-05|    San Jose|37.332692|-121.900084|Arena Green / SAP...|        14|
|       15|  2013-08-07|    San Jose|37.333955|-121.877349|SJSU - San Salvad...|        16|
|       15|  2013-08-12|Redwood City|37.481758|-122.226904|   Franklin at Maple|        21|
|       25|  2013-08-15|Redwood City|37.486078|-122.232089|Redwood City Calt...|        22|
|       15|  2013-08-15|Redwood City|37.487616|-122.229951|San Mateo County ...|        23|
|       15|  2013-08-12|Redwood City|37.484219|-122.227424|Redwood City Publ...|        24|
|       15|  2013-08-12|Redwood City| 37.48537|-122.203288|Stanford in Redwo...|        25|
|       15|  2013-08-12|Redwood City|37.487682|-122.223492|Redwood City Medi...|        26|
+---------+------------+------------+---------+-----------+--------------------+----------+
only showing top 20 rows

In [5]:
trips_df = spark.read.json('data/trip-data.json').repartition(9)
trips_df.show()

[Stage 3:============================>                           (12 + 12) / 24]

+-------+--------+--------------------+--------------------+------------+--------------------+--------------------+--------------+---------------+-------+--------+
|bike_id|duration|            end_date|         end_station|end_terminal|          start_date|       start_station|start_terminal|subscriber_type|trip_id|zip_code|
+-------+--------+--------------------+--------------------+------------+--------------------+--------------------+--------------+---------------+-------+--------+
|    553|     698|2015-08-26T00:09:...|     Spear at Folsom|          49|2015-08-26T00:08:...|San Francisco Cal...|            69|     Subscriber| 905821|   94040|
|    292|     628|2015-08-20T00:09:...|  Powell Street BART|          39|2015-08-20T00:09:...|     Townsend at 7th|            65|     Subscriber| 898176|   94107|
|    506|     503|2015-08-28T00:08:...|       2nd at Folsom|          62|2015-08-28T00:08:...|Harry Bridges Pla...|            50|     Subscriber| 909314|   94558|
|    520|     444|2015-08-25T00:10:...|   2nd at South Park|          64|2015-08-25T00:09:...|Temporary Transba...|            55|     Subscriber| 904161|   94610|
|    340|     305|2015-08-21T00:11:...|Civic Center BART...|          72|2015-08-21T00:11:...|South Van Ness at...|            66|     Subscriber| 900036|   94702|
|    585|     766|2015-08-29T00:11:...|     Spear at Folsom|          49|2015-08-29T00:11:...|       5th at Howard|            57|       Customer| 910815|   94558|
|    355|    4323|2015-08-29T00:08:...|Embarcadero at Va...|          48|2015-08-29T00:07:...|Embarcadero at Va...|            48|       Customer| 910713|    NULL|
|    877|     419|2015-08-20T00:13:...|San Francisco Cal...|          69|2015-08-20T00:13:...|San Francisco Cal...|            69|       Customer| 898437|    2138|
|    404|     381|2015-08-28T00:09:...|Broadway St at Ba...|          82|2015-08-28T00:09:...|   Steuart at Market|            74|     Subscriber| 909603|   94556|
|    147|    1068|2015-08-23T00:21:...|Castro Street and...|          32|2015-08-23T00:20:...|Mountain View Cal...|            28|     Subscriber| 901801|   95032|
|    275|     537|2015-08-26T00:17:...|   Steuart at Market|          74|2015-08-26T00:17:...|     2nd at Townsend|            61|     Subscriber| 906853|   94110|
|    578|     353|2015-08-23T00:17:...|San Francisco Cal...|          69|2015-08-23T00:17:...|       5th at Howard|            57|       Customer| 901719|   94148|
|    563|     810|2015-08-28T00:17:...|Embarcadero at Sa...|          60|2015-08-28T00:17:...|San Francisco Cal...|            70|     Subscriber| 910364|   94111|
|    212|     506|2015-08-20T00:08:...|       Market at 4th|          76|2015-08-20T00:08:...|     Spear at Folsom|            49|     Subscriber| 897997|   94105|
|     96|     357|2015-08-27T00:09:...|     Clay at Battery|          41|2015-08-27T00:09:...|Mechanics Plaza (...|            75|     Subscriber| 907893|   94704|
|    534|     567|2015-08-28T00:16:...|San Francisco Cal...|          70|2015-08-28T00:16:...|Temporary Transba...|            55|     Subscriber| 910149|   95014|
|    636|     411|2015-08-18T00:08:...|Yerba Buena Cente...|          68|2015-08-18T00:08:...|San Francisco Cal...|            69|     Subscriber| 894385|   94107|
|    404|     359|2015-08-28T00:11:...|   Market at Sansome|          77|2015-08-28T00:11:...|Broadway St at Ba...|            82|     Subscriber| 909875|   94109|
|    537|     747|2015-08-25T00:14:...|Embarcadero at Sa...|          60|2015-08-25T00:14:...|Embarcadero at Br...|            54|     Subscriber| 904476|   94105|
|    636|     611|2015-08-17T00:17:...|      Market at 10th|          67|2015-08-17T00:17:...|     Townsend at 7th|            65|     Subscriber| 893576|   94551|
+-------+--------+--------------------+--------------------+------------+--------------------+--------------------+--------------+---------------+-------+--------+
only showing top 20 rows

### Step 4: Use operations `select`, `distinct`, and `count` to determine "how many different zip codes exists in trips data" `#TODO`

In [6]:
from pyspark.sql.functions import col

zip_count = trips_df.select(col("zip_code")).distinct().count()
print(f"Number of different zip codes: {zip_count}")

Number of different zip codes: 4705

### Step 5: Dataframe = RDD with schema
Observe that a dataframe is an RDD with each item being of type `Row`. Naturally, rows have schema associated with.

In [7]:
stations_df.take(3)

[Row(dockcount=27, installation='2013-08-06', landmark='San Jose', lat=37.329732, long=-121.901782, name='San Jose Diridon Caltrain Station', station_id=2),
 Row(dockcount=15, installation='2013-08-05', landmark='San Jose', lat=37.330698, long=-121.888979, name='San Jose Civic Center', station_id=3),
 Row(dockcount=11, installation='2013-08-06', landmark='San Jose', lat=37.333988, long=-121.894902, name='Santa Clara at Almaden', station_id=4)]

In [8]:
stations_df.printSchema()

root
 |-- dockcount: long (nullable = true)
 |-- installation: string (nullable = true)
 |-- landmark: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- name: string (nullable = true)
 |-- station_id: long (nullable = true)

### Step 6: Extract from trips data the top 10 latest rides -- the ones that happened more recently

In [9]:
trips_df.printSchema()

root
 |-- bike_id: long (nullable = true)
 |-- duration: long (nullable = true)
 |-- end_date: string (nullable = true)
 |-- end_station: string (nullable = true)
 |-- end_terminal: long (nullable = true)
 |-- start_date: string (nullable = true)
 |-- start_station: string (nullable = true)
 |-- start_terminal: long (nullable = true)
 |-- subscriber_type: string (nullable = true)
 |-- trip_id: long (nullable = true)
 |-- zip_code: long (nullable = true)

In [10]:
# start_date as string
trips_df.select(col("start_date")).first()

Row(start_date='2015-08-17T00:19:06.000-03:00')

In [11]:
from pyspark.sql.functions import to_date, col, unix_timestamp, to_timestamp

# new column with start_date formatted as datetime (now we have the notion of 'order' between dates)
trips_df = trips_df.withColumn("start_date_fmt", to_timestamp(col("start_date"), "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"))

In [12]:
top10_latest_rides = trips_df.orderBy(col("start_date_fmt").desc()).limit(10)
top10_latest_rides.show(truncate=False)

+-------+--------+-----------------------------+---------------------------------------------+------------+-----------------------------+---------------------------------------------+--------------+---------------+-------+--------+-------------------+
|bike_id|duration|end_date                     |end_station                                  |end_terminal|start_date                   |start_station                                |start_terminal|subscriber_type|trip_id|zip_code|start_date_fmt     |
+-------+--------+-----------------------------+---------------------------------------------+------------+-----------------------------+---------------------------------------------+--------------+---------------+-------+--------+-------------------+
|288    |765     |2015-08-31T00:23:39.000-03:00|San Francisco Caltrain (Townsend at 4th)     |70          |2015-08-31T00:23:26.000-03:00|Harry Bridges Plaza (Ferry Building)         |50            |Subscriber     |913460 |2139    |2015-08-31 03:23:26|
|468    |307     |2015-08-31T00:23:18.000-03:00|2nd at South Park                            |64          |2015-08-31T00:23:13.000-03:00|Post at Kearny                               |47            |Subscriber     |913455 |94107   |2015-08-31 03:23:13|
|35     |1036    |2015-08-31T00:23:28.000-03:00|Mountain View City Hall                      |27          |2015-08-31T00:23:11.000-03:00|San Antonio Shopping Center                  |31            |Subscriber     |913459 |95032   |2015-08-31 03:23:11|
|68     |409     |2015-08-31T00:23:17.000-03:00|San Salvador at 1st                          |8           |2015-08-31T00:23:10.000-03:00|San Jose City Hall                           |10            |Subscriber     |913454 |95113   |2015-08-31 03:23:10|
|487    |789     |2015-08-31T00:23:22.000-03:00|Embarcadero at Sansome                       |60          |2015-08-31T00:23:09.000-03:00|Embarcadero at Folsom                        |51            |Customer       |913453 |9069    |2015-08-31 03:23:09|
|538    |293     |2015-08-31T00:23:12.000-03:00|San Francisco Caltrain (Townsend at 4th)     |70          |2015-08-31T00:23:07.000-03:00|Yerba Buena Center of the Arts (3rd @ Howard)|68            |Subscriber     |913452 |94118   |2015-08-31 03:23:07|
|363    |896     |2015-08-31T00:23:22.000-03:00|Embarcadero at Sansome                       |60          |2015-08-31T00:23:07.000-03:00|Embarcadero at Folsom                        |51            |Customer       |913451 |92562   |2015-08-31 03:23:07|
|470    |255     |2015-08-31T00:22:20.000-03:00|Steuart at Market                            |74          |2015-08-31T00:22:16.000-03:00|Embarcadero at Sansome                       |60            |Subscriber     |913450 |94111   |2015-08-31 03:22:16|
|439    |126     |2015-08-31T00:22:15.000-03:00|Temporary Transbay Terminal (Howard at Beale)|55          |2015-08-31T00:22:12.000-03:00|Beale at Market                              |56            |Subscriber     |913449 |94130   |2015-08-31 03:22:12|
|472    |932     |2015-08-31T00:22:12.000-03:00|South Van Ness at Market                     |66          |2015-08-31T00:21:57.000-03:00|Post at Kearny                               |47            |Subscriber     |913448 |94702   |2015-08-31 03:21:57|
+-------+--------+-----------------------------+---------------------------------------------+------------+-----------------------------+---------------------------------------------+--------------+---------------+-------+--------+-------------------+

### Step 7: Get the latitude and longitude of the **starting stations** that produced the top-30 longest rides `#TODO`

Generate a list such as:
```
station1 lat long ride_duration
station2 lat long ride_duration
station3 lat long ride_duration
...
```

Obs: the same station may appear more than once in this list

In [14]:
top30_rides = trips_df.orderBy(col("duration").desc()).limit(30)

top30_with_coords = top30_rides.join(
    stations_df,
    top30_rides["start_station"] == stations_df["name"],
    how="left"
).select(
    top30_rides["start_station"].alias("station"),
    stations_df["lat"].alias("lat"),
    stations_df["long"].alias("long"),
    top30_rides["duration"].alias("ride_duration")
)

top30_with_coords.show(30, truncate=False)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `latitude` cannot be resolved. Did you mean one of the following? [`dockcount`, `installation`, `landmark`, `lat`, `long`, `name`, `station_id`].